header nav a.sidenav-trigger, header nav a.sidenav-trigger i {
    height: auto;
    line-height: inherit;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background :linear-gradient(#D3D3D3, #F8F8F8);
  }

main {
	flex: 1 0 auto;
        @extend .blue, .lighten-4;
  }

.ilike-blue-container {
    @extend .blue, .lighten-4;
  }
html .panierNumber{
  color: black;
    position: absolute;
    font-size: 0.8em;
    top: -5%;
    right: auto;
    height: 3px;
}


.wprock-img-zoom-hover .wprock-img-zoom {
    overflow: hidden;
    position: relative;
}
.wprock-img-zoom-hover .wprock-img-zoom img {
    max-width: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.wprock-img-zoom-hover .wprock-img-zoom * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wprock-img-zoom-hover:hover .wprock-img-zoom img {
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.parallax-container .parallax img {
opacity:0;
position:absolute;
left:50%;
bottom:0;
min-width:100%;
min-height:100%;
-webkit-transform:translated3d(0, 0, 0);
transform:translate3d(0, 0, 0);
-webkit-transform:translateX(-50%);
transform:translateX(-50%)
}
