<div class='row'>
    <div class="col l12 m2">
        <h5 class="center-align">Informations Général</h5>
    </div>
    <div class="col s12">
        <table class="bordered">
            <tr>
                <td>Nom :</td>
                <td>%nom %prenom</td>
                <td><a href="./?action=utilisateur&status=ModifCompte&modif=nom">-></a></td>
            </tr>
            <tr>
                <td>Pseudo :</td>
                <td>%pseudo</td>
                <td><a href="./?action=utilisateur&status=ModifCompte&modif=pseudo">-></a></td>
            </tr>
            <tr>
                <td>Date de naissance :</td>
                <td>%datenais</td>
                <td><a href="./?action=utilisateur&status=ModifCompte&modif=datenais">-></a></td>
            </tr>
            <tr>
                <td>Etablissement actuel :</td>
                <td>%etablissement</td>
                <td><a href="./?action=utilisateur&status=ModifCompte&modif=etablissement">-></a></td>
            </tr>
        </table>
    </div>
    <div class="col l12 m2">
        <h5 class="center-align">Coordonées</h5>
    </div>
    <div class="col s12">
        <table class="bordered">
            <tr>
                <td>E-Mail :</td>
                <td>%email</td>
                <td><a href="./?action=utilisateur&status=ModifCompte&modif=email">-></a></td>
            </tr>
            <tr>
                <td>Numéro de téléphone :</td>
                <td>%tel</td>
                <td><a href="./?action=utilisateur&status=ModifCompte&modif=tel">-></a></td>
            </tr>
        </table>
    </div>
    <div class="col l12 m2">
        <h5 class="center-align">Abonnement</h5>
    </div>
    <div class="col s12">
        <table class="bordered">
            <tr>
                <td>Date du début de l'abonnement :</td>
                <td>%debutabo</td>
            </tr>
            <tr>
                <td>Date de fin de l'abonnement :</td>
                <td>%finabo</td>
            </tr>
        </table>
    </div>
</div>