<body style="background :linear-gradient(#D3D3D3, #F8F8F8);">
 <form action='.?action=utilisateur&status=connexion' method='POST'>
    <div class='container'>
    <div class='row'>
        <div class='col l12 m2'>
            <h2 class='center-align'>Login</h2>
            <div class='row'>
                <form class='col s12'>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input id='email' type='email' name='email' class='validate'>
                            <label for='email'><i>Email</i></label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input id='pass' type='password' name='mdp' class='validate'>
                            <label for='pass'><i>Password</i></label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col s12'>
                            <div class='left-align'>
                                <a href='./?action=utilisateur&status=inscription'>
                                    <p>
                                        <b>Inscription</b>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class='divider'></div>
                    <div class='row'>
                        <div class='col m12'>
                            <p class='right-align'>
                                <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Connexion'></input>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
