<form action=".?action=utilisateur&status=finalisation" method='POST' class="col s4">
    <div class="row">
      <div class="col s12">
        <h2 class='center-align'>Inscription</h2>
      </div>
      <div class="input-field col s12">
        <input id="FirstName" type="text" name="prenom" class="validate" required>
        <label for="FirstName"><i>Nom</i></label>
      </div>
      <div class="input-field col s12">
        <input id="LastName" type="text" name="nom" class="validate" required>
        <label for="LastName"><i>Prénom</i></label>
      </div>

      <div class="input-field col s12">
        <input id="Pseudo" type="text" name="pseudo" class="validate" required>
        <label for="Pseudo"><i>Pseudo</i></label>
      </div>
      <div class="input-field col s12">
        <input type="date" class="datepicker" name="date" class="validate" required>
        <label><i>Date de naissance</i></label>
      </div>
      <div class="input-field col s12">
        <select required="required" name="etablissement">
          <option value="" disabled selected>Choisissez votre établissement</option>
          <option value="0">Lycée Gaspard Monge</option>
          <option value="1">Lycée François Bazin</option>
        </select>
        <label><i>Établissement</i></label>
      </div>
       <div class="input-field col s12">
        <input id="Email" type="email" name="email" class="validate" required>
        <label for="Email"><i>Email</i></label>
      </div>
         <div class="input-field col s12">
        <input id="Phone" type="text"  name="tel" class="validate" required>
        <label for="Phone"><i>N° de téléphone</i></label>
      </div>
        <div class="input-field col s12">
        <input id="Password" type="password"  name="mdp" class="validate" required>
        <label for="Password"><i>Mot de passe</i></label>
        </div>
        <div class="input-field col s12">
            <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Inscription'></input>
      </div>
    </div>
  </form>
