<div class="row">
    <div class="col s12">
    <form class="col s12 m6 l3" action=".?action=boutique" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Recherche" name="recherche" id="first_name" type="text" class="validate">
        </div>
      </div>
    </form>
    </div>
</div>
