

<!--%nom <form action="./?action=utilisateur&status=Compte&modif=nom" method='POST'> <div class="row">
    <div class="col l12 m2">
        <h5 class='center-align'>Modification du Nom</h5>
        <div class="container">
            <div class="input-field col s12">
                <input id="nom" type="text" name="nomModif" class="validate" required>
                <label for="nom"><i>Nouveau nom</i></label>
            </div>
            <div class="input-field col s12">
                <input id="prenom" type="text" name="prenomModif" class="validate" required>
                <label for="prenom"><i>Nouveau prenom</i></label>
            </div>
            <div class='col m12'>
            <p class='right-align'>
                <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Valider'></input>
            </p>
        </div>
        </div>
        
    </div></form>
</div> %nom-->

<!--%pseudo <form action="./?action=utilisateur&status=Compte&modif=pseudo" method='POST'> <div class="row">
    <div class="col l12 m2">
        <h5 class='center-align'>Modification du Pseudo</h5>
        <div class="container">
            <div class="input-field col s12">
                <input id="pseudo" type="text" name="pseudoModif" class="validate" required>
                <label for="pseudo"><i>Nouveau pseudo</i></label>
            </div>
            <div class='col m12'>
            <p class='right-align'>
                <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Valider'></input>
            </p>
        </div>
    </div>  
 </div></form>
%pseudo-->

<!--%datenais <form action="./?action=utilisateur&status=Compte&modif=datenais" method='POST'> <div class="row">
    <div class="col l12 m2">
        <h5 class='center-align'>Modification de la date de naissance</h5>
        <div class="container">
            <div class="input-field col s12">
                <input type="date" class="datepicker" name="dateModif" class="validate" required>
                <label><i>Date de naissance</i></label>
            </div>
            <div class='col m12'>
            <p class='right-align'>
                <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Valider'></input>
            </p>
        </div>
    </div>  
 </div></form>
%datenais-->

<!--%etablissement <form action="./?action=utilisateur&status=Compte&modif=etablissement" method='POST'> <div class="row">
    <div class="col l12 m2">
        <h5 class='center-align'>Modification de l'Etablissement</h5>
        <div class="container">
            <div class="input-field col s12">
                <select required="required" name="etablissementModif">
                    <option value="" disabled selected>Choisissez votre établissement</option>
                    <option value="0">Lycée Gaspard Monge</option>
                    <option value="1">Lycée François Bazin</option>
                </select>
                <label><i>Établissement</i></label>
            </div>
            <div class='col m12'>
            <p class='right-align'>
                <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Valider'></input>
            </p>
        </div>
    </div>  
 </div></form>
%etablissement-->

<!--%email <form action="./?action=utilisateur&status=Compte&modif=email" method='POST'> <div class="row">
    <div class="col l12 m2">
        <h5 class='center-align'>Modification de l'Email</h5>
        <div class="container">
            <div class="input-field col s12">
                <input id="Email" type="email" name="emailModif" class="validate" required>
                <label for="Email"><i>Email</i></label>
             </div>
            <div class='col m12'>
            <p class='right-align'>
                <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Valider'></input>
            </p>
        </div>
    </div>  
 </div></form>
%email-->

<!--%tel <form action="./?action=utilisateur&status=Compte&modif=tel" method='POST'> <div class="row">
    <div class="col l12 m2">
        <h5 class='center-align'>Modification du N° de téléphone</h5>
        <div class="container">
            <div class="input-field col s12">
                <input id="Phone" type="text"  name="telModif" class="validate" required>
                <label for="Phone"><i>N° de téléphone</i></label>
            </div>
            <div class='col m12'>
            <p class='right-align'>
                <input class='btn btn-large waves-effect waves-light' name='action' type='submit' value='Valider'></input>
            </p>
        </div>
    </div>  
 </div> </form>
%tel-->

