<div class="row">
    <a href="./?action=boutique"><p><- Retour à la boutique</p></a>
    <div class="col s12">
        <h3>Votre panier:</h3>
    </div>
    <div class="col s12 m4 l8">
        <h5>Vos commandes</h5>
        <form action="./?action=panier" method="POST">
            %listecommande
        </form>
    </div>
    <div class="col s12 m4 l4">
        <h5>Récapitulatif</h5>
        %recap
    </div>
    <div class="col s12 m4 l8">
        <h5 style="float:right;margin-right:5%;">Sous-total %total</h5>
    </div>
    <div class="col s12 m4 l2">
        <button class='btn waves-effect waves-light' type='submit' name='action' style='width:100%;height:100%;'>Acheter</button>
    </div>
</div>