<body style="background :linear-gradient(#D3D3D3, #F8F8F8);">
<h5><p style="text-align:center;"><i class="material-icons">help</i> Un soucis ? Vous pouvez contacter l'administrateur à l'adresse mail suivante, nous vous repondrons dans les plus brèves délais : <u>asetar@gmail.com</u> </p></h5>
</body>
